In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
df =pd.read_csv(r"C:\Users\ali umar hasan\Desktop\iris\iris.csv")

In [21]:
df.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

# Descretizing the values of the dataframe..

In [ ]:
# using round of funciton on the particular data frames..
df['Sepal.Length']=round(df['Sepal.Length'])
df['Sepal.Width']=round(df['Sepal.Width'])
df['Petal.Width']=round(df['Petal.Width'])
df['Petal.Length']=round(df['Petal.Length'])

In [50]:
df.head()

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,Sepal.width
0,1,5.0,4.0,1.0,0.0,setosa,4.0
1,2,5.0,3.0,1.0,0.0,setosa,3.0
2,3,5.0,3.0,1.0,0.0,setosa,3.0
3,4,5.0,3.0,2.0,0.0,setosa,3.0
4,5,5.0,4.0,1.0,0.0,setosa,4.0

In [58]:
df = df.drop("Sepal.width",axis =1)

In [60]:
df.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.0          4.0           1.0          0.0  setosa
1           2           5.0          3.0           1.0          0.0  setosa
2           3           5.0          3.0           1.0          0.0  setosa
3           4           5.0          3.0           2.0          0.0  setosa
4           5           5.0          4.0           1.0          0.0  setosa